 <div class = "studies">
   <div class= "icon">
    <%# <%= image_tag post.image.to_s %> 
    <%= post.schedule %>
   </div>
   <div class="box">
     <div class= "introduce-organizername">
       <div class ="introduce">
        <%= link_to post.title, post_path(post.id), class: "studies_title" %>          
       </div>

       <div class="organizername">
        主催者 <%= post.user.nickname %>
       </div>
    </div>
     
    <p class="sentence">
      <%= post.sentence%>
    </p>        
  <div class ="place"><%= post.place%><%= post.time %></div>
  </div>
</div>