<%= form_with model: @post,local: true,class:"form" do |form| %>
<div class="new">
  <div class ="left-box">
   
      <div class="title-box">
        <div class ="title">
          <p name="eventname">イベント名</p>
           <%= form.text_field :title %>
        </div>

        <div class ="eventintroduce-info">
          <p class="event" name="eventintroduce">イベントの内容</p>
          <div class="introduce">
            <%= form.text_area :sentence,size: "180x10",placeholder: :どんな内容の研修か入力してください %>
          </div>   
        </div>
       </div>
      <div class="yohaku">
      </div>

      <div class ="image-box">
      
        <%= form.label :image, for: "file-input", class: "fa fa-picture-o" do %>
          <%= form.file_field :image, id: "file-input", style: "display: none;" %>
        <% end %>
         <p>イメージ写真を追加</p>
          <%# <%= f.label :"images_attributes_#{@post.images.length}_image", class: "label-box", id: "label-box--#{@post.images.length}" do %> 
          <%# <pre class="label-box__text-visible"> クリックしてファイルをアップロード<pre> %> %>
          <%# <%end%> %>
            <%# <%= f.fields_for :images do |f| %>

          <%# <%= f.file_field :image_url, class: "hidden-field" %> %>
          <%# <%= f.check_box:_destroy, class: "hidden-checkbox" %> %> %>

          <%# - @item.images.length.upto(4) do |f|
          %input{name: "item[images_attributes][#{i}][image_url]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
          <%end%> %>
      </div>
    </div>

  <div class="right-box">
    <div class="details">
      <div class ="date">イベント日時<br>
        <%= form.date_select :schedule, placeholder:"日付を設定" ,size: "20x10",class:"dateselect" %>
      </div>
      <div class ="place">場所<br>
        <%= form.text_field :place %>
      </div>    
      <div class="target">
        <%= form.label :対象者 %>
        <%# <% ["初任者","５年目まで","１０年目まで","全て"].each do |target| %> %>
        <%# <%= form.collection_check_boxes :target_ids,Target.all,:id,:name %> %>
        <%# <%= target %>
        <%# <% end %> 
      </div>

      <div class ="belongings">持ち物<br>
        <%= form.text_area :belongings,size: "35x6" %>
      </div>
  </div>
    <%= form.submit '変更する', class: :form__btn %> 
  
  </div>
</div>
<% end %>