<div class= "study-main">
  <div class = "study-image">
  </div>
  <div class = "study-main-new">
    <div class="study-main-left">
      <div class="label-search">
        <p class="label"> <  研修一覧  > </p>
        <div class="container">
          <%# <%= link_to post.user.nickname, user_path(post.user), class: "content__right__bottom--userName--btn" %>
          <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
          <%= search_form_for @q do |f| %>
            <%= f.label :title_or_place_or_target, "Keyword" %>
            <%= f.search_field :title_or_place_or_target_cont %>

            <%= f.submit "キーワード検索", class: 'record-form__submit-button' %>
          <% end %>
        </div>
      </div>
        <% @posts.each do |post| %>
        <%= render partial: "posts", locals: { post: post } %>
        <% end %>
        <%= paginate(@posts) %>
    </div>
    <div class="main-right">
      <div class="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=5ieb4vdb0gjkdcg69biqlrh6lc%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="350" height="450" frameborder="0" scrolling="no" width="50%" height="200px"></iframe>
      </div>
      <div class="japan_map">
        <p>地域から絞り込み</p>
        <img src="https://frame-illust.com/fi/wp-content/uploads/2018/03/map-japan-deform-prefecture-01.png" alt="日本地図">
        <span class="area_btn area1" data-area="1">北海道・東北</span>
        <span class="area_btn area2" data-area="2">関東</span>
        <span class="area_btn area3" data-area="3">中部</span>
        <span class="area_btn area4" data-area="4">近畿</span>
        <span class="area_btn area5" data-area="5">中国・四国</span>
        <span class="area_btn area6" data-area="6">九州・沖縄</span>
        <div class="area_overlay"></div>
        <div class="pref_area">
          <div class="pref_list" data-list="1">
            <div data-id="1">北海道</div>
            <div data-id="2">青森県</div>
            <div data-id="3">岩手県</div>
            <div data-id="4">宮城県</div>
            <div data-id="5">秋田県</div>
            <div data-id="6">山形県</div>
            <div data-id="7">福島県</div>
            <div></div>
          </div>
          <div class="pref_list" data-list="2">
            <div data-id="8">茨城県</div>
            <div data-id="9">栃木県</div>
            <div data-id="10">群馬県</div>
            <div data-id="11">埼玉県</div>
            <div data-id="12">千葉県</div>
            <div data-id="13">東京都</div>
            <div data-id="14">神奈川県</div>
            <div></div>
          </div>
            
          <div class="pref_list" data-list="3">
            <div data-id="15">新潟県‎</div>
            <div data-id="16">富山県‎</div>
            <div data-id="17">石川県‎</div>
            <div data-id="18">福井県‎</div>
            <div data-id="19">山梨県‎</div>
            <div data-id="20">長野県‎</div>
            <div data-id="21">岐阜県</div>
            <div data-id="22">静岡県</div>
            <div data-id="23">愛知県‎</div>
            <div></div>
          </div>
            
          <div class="pref_list" data-list="4">
            <div data-id="24">三重県</div>
            <div data-id="25">滋賀県</div>
            <div data-id="26">京都府</div>
            <div data-id="27">大阪府</div>
            <div data-id="28">兵庫県</div>
            <div data-id="29">奈良県</div>
            <div data-id="30">和歌山県</div>
            <div></div>
          </div>
          <div class="pref_list" data-list="5">
            <div data-id="31">鳥取県</div>
            <div data-id="32">島根県</div>
            <div data-id="33">岡山県</div>
            <div data-id="34">広島県</div>
            <div data-id="35">山口県</div>
            <div data-id="36">徳島県</div>
            <div data-id="37">香川県</div>
            <div data-id="38">愛媛県</div>
            <div data-id="39">高知県</div>
            <div></div>
          </div>
          <div class="pref_list" data-list="6">
            <div data-id="40">福岡県</div>
            <div data-id="41">佐賀県</div>
            <div data-id="42">長崎県</div>
            <div data-id="43">熊本県</div>
            <div data-id="44">大分県</div>
            <div data-id="45">宮崎県</div>
            <div data-id="46">鹿児島県</div>
            <div data-id="47">沖縄県</div>
          </div>
        </div>
      </div>
          
      <div class ="snsbox">
        <a href="https://twitter.com/home" class="btn-social-square btn-social-square--twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://ja-jp.facebook.com/" class="btn-social-square btn-social-square--facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</div>