<div class= "study-main">
  <div class = "study-image">
  </div>
  <div class = "study-main-new">
    <div class="study-main-left">
      <div class="container">
        <%= search_form_for @keyword,enforce_utf8: false, url:search_path do |f| %>
          <%= f.label :title_or_place_or_target, "Keyword" %> 
          <%= f.search_field :title_or_place_or_belongings_or_sentence_or_schedule_cont ,class:"search",placeholder:"キーワード検索" %> 
          <%= f.label :日付で検索 %>
          <%= f.date_field :schedule_gteq, include_blank: true %> 
          <%= f.date_field :schedule_lteq, include_blank: true %>
          <div class="searchregion">
            <%= f.label :地域で絞り込み %>
            <%= f.select :category_id_eq, @category_parent_array,{},{class:'listing-select-wrapper__box--select',id:'parent_category'} %>
          </div>
          <%= f.submit "検索", class: 'record-form__submit-button' %> 
        <% end %>
      </div>
    </div>
    <div class="study-main-right">
      <div class="label-search">
        <p class="label"> <  研修一覧  > </p>
      </div>
        <% @posts.each do |post| %>
        <%= render partial: "posts", locals: { post: post } %>
        <% end %>
        <%= paginate(@posts) %>
    </div>
  </div>
</div>