<div id="s-result">
   <!-- search result -->
   <% @posts.each do |kekka| %>
     <%= kekka.title  %>
     <%= kekka.place  %>
     <%= kekka.image %>  
     <%# <%= image_tag post.image.to_s %>
     <%= kekka.belongings %>
     <%= kekka.sentence %>
     <%= kekka.schedule %>
     <%= kekka.time %>
   <% end %>
</div>