<div class= "event">
  <div class="event-inner">
    <div class="event-inner-header">
      <div class="show-header-tags">
        <hgroup>
          <h1 class="studyTitle">
            <%= @post.title %>
          </h1>
          <h2 class="studyCompany">
          </h2>
        </hgroup>
      </div>
      <div class="event-show-cover-wrapper">
        <div class="event-image">
          <%= image_tag @post.image.to_s %>
      </div>
    </div>
    <div class="event-main">
      <table >
        <tr>
          <td>日付</td><td><%= @post.schedule.strftime("%Y年%-m月%-d日(%a)") %></td>     
        </tr>
        <tr>
        <td>研修時間</td><td><%= @post.time.strftime('%H:%M') %> 〜 <%= @post.endtime.strftime('%H:%M') %></td>
        <tr>
          <td>会場</td><td> <%= @post.place %></td>     
        </tr>
        <tr>
        <td>持ち物</td><td><%= @post.belongings %></td>
        </tr>
        <tr>
        <td>対象者</td>
        <td> 
        <% @post.post_targets.each do |target| %>
        <%= target.target.target %>
        <% end %>
        </td>
        </tr>
        <tr>
        <td>定員</td><td><%= @post.capacity%>人</td>
        </tr>
         <tr>
        <td>参加費</td><td><%= @post.fee %>円</td>
        </tr>
        <tr>
        <td>研修内容</td><td><%= simple_format @post.sentence %></td>
        </tr>
        </table>
      
        <div class="event-right-box">
            <% if user_signed_in? && current_user.id == @post.user_id %>
            <div class="studyManage">
            <%= link_to "編集", edit_post_path(@post.id), class: "studyManage__edit" %>
            <%= link_to "削除", post_path(@post.id), method: :delete, class: "studyManage__delete" %>
            <% else %>
            <% end %>
          </div>
    </div>
  </div>
  <div id="like-<%= @post.id %>">
    <%=render partial:"posts/like", locals: { post: @post }%>
  </div>
  <div class="apply-box">
      <%= link_to"申し込む",new_post_entry_path(@post.id), class: "apply" %>
    </div>
</div>
          