<div class= "wrapper">
  <div class="studyTitle">
    <%= @post.title %>
  </div>
  <div class="studytPlace">
    <%= @post.place %>
  </div>
  <div class="studyBelongins">
  <%= @post.belongings %>
  </div>
  <div class="studyTarget">
    <% @post.post_targets.each do |target| %>
    <%= target.target.target %>
    <% end %>
  </div>
  <div class="studySentence">
  <%= simple_format @post.sentence %>
  </div>
  <div class="studySchedule">
    <%= @post.schedule %>
  </div>
  <div class="studyImage">
    <%= image_tag @post.image.to_s %>
  </div>
  <div class="studyTime">
    <%= @post.time %>
  </div>

    <div class ="image-box-1">
      <div class="item-num-0#image-box__container">
      </div>
    </div>
     <%= link_to"申し込む"%>

  <% if user_signed_in? && current_user.id == @post.user_id %>
  <div class="studyManage">
  <%= link_to "編集", edit_post_path(@post.id), class: "studyManage__edit" %>
  <%= link_to "削除", post_path(@post.id), method: :delete, class: "studyManage__delete" %>
 
  <% else %>
 
  <% end %>
  </div>
</div>